::selection{
  color: #fff;
  text-shadow: none;
  background-color: teal;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

.mobile {
  width: 320px;
  height: 650px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 9px 12px 22px -1px #c6c6c6;
  border-radius: 30px;
  overflow: hidden;
  background-color: cornsilk;
  position: relative;
}


.searching .searchform{
  box-shadow: 0px 0px 15px -15px #000;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

#results{
  background-color:#eee;
  height:0vh;
  transform:translateY(-30px);
  transition:all 0.5s ease-out;
  z-index: -1;
  
}
.search-in-progress #results{
  height: 65vh;
  transform:translateY(0);
  transition:all 0.5s ease-in;
  
}
.searchform{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
/*   padding: 1em 0; */
  background-color:#fff;
  z-index:10;
  transform:translateX(400px);
  transition: transform 0.3s ease-in-out;
}
.loading .loader h4{
  color: #fff;
  font-weight: bold;
  font-size:0.8em;
  animation-name: flutter;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  
}

.searchform a{
  position: absolute;
  top:30%;
  right: 0.4em;
  padding: 0.3em;
  background-color: #eee;
  border-radius:10px;
}

.searchform input{
  border:none;
  outline: none;
  /*! border-bottom:1px solid #000; */
  border-radius: 0;
  font-weight: bold;
  color: #888;
  font-size: 1.5em;
/*   margin-top:1em; */
  background-color:#fafadf;
  height: 100%;
  box-shadow: 1px 1px 15px -8px #000;
}

.search{
  transform: translateX(0);
  transition: transform 0.2s ease-in;
  transition-delay:0.5s;
}

.searching .search{
   transform: translateX(50px);
  transition: transform 0.2s ease-in;
  transition-delay: 1s;
}

.closeSearch{
   transform: translateX(50px);
  transition: transform 0.2s ease-in;
  transition-delay: 0.3s;
}
.searching .closeSearch{
  transform: translateX(0px);
  transition: transform 0.2s ease-in;
  transition-delay: 0.3s;
}

main{
  position: absolute;
  width: 103%;
  height: 100%;
  overflow-y: scroll;
  padding-top: 7em;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.feed{
  height: 300px;

  margin: auto;
}

.feedItem{
  transform: scale(1);
  transition:transform 0.3s ease;
  padding-top: 2em;
}
.feedItem.swiper-slide-active{ 
  transition: transform 0.5s ease;
}

.feedItem.swiper-slide-active{
  transform: perspective(1px) scale(1.05);
  transition:transform 0.5s ease;
}

.favourite span:nth-child(1){display: block;}
.favourite span:nth-child(2){
  display: none;
}

.favourite.clicked span:nth-child(1){
  display:none;
}
.favourite.clicked span:nth-child(2){
  display: block;
}
.favourite.clicked span img{
  animation-name:bounce;
  animation-duration:.2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.17,.84,.42,1.48);
}



@keyframes bounce{
  0%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}
.navigation{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 0.6em;
  box-shadow: 0px -9px 17px -16px #000;
  padding-bottom: 0.4em;
}
.navigation .item{
  
  
  color: #000;
  text-align: center;
  width: 25%;
  padding: 0.3em;
  border-radius: 29px;
}
.navigation .item p{
  margin:0;
  font-size: 0.6em;
  line-height: 8px;
}
.navigation .item.active p{}
.navigation .item.active{
  
  background-color: wheat;
}
.feedItem .event{
  height: 77%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 13px;
  width: 100%;
  font-optical-sizing: auto;
  box-shadow: 0px 7px 5px -4px #c4bcbc;
}

.feedItem .event .eventSummary{
  background-color: #fff;
  
  border-radius: 12px;
  width: 11em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1em;
  padding: 0.3em;
  box-shadow: 1px -3px 20px -15px #000;
  width: 100%;
  max-width: 7em;
}

.feedItem .event .eventSummary p{
  font-size: 0.6em;
  /*! font-weight: bold; */
  margin: 0;
  padding-left:0.5em;
}

.favourite{
  text-align: right;
  margin-right: 0.6em;
}

.eventposter{
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 13px;
  width: 100%;
}
.date{
  color:#ffb300;
  /*! font-weight:bold; */
}
.eventName{

  font-weight:bold;
}
.eventSummary .location{
  color: #aaa;
  font-weight:normal;
}

.eventCard{
  display: flex;
  margin:1em auto;
  justify-content: space-around;
  align-items: center;
  color: inherit;
}

.eventCard p{
  margin:0;
  font-size:0.7em;
}

.eventCard img{
  width: 3.5em;
  height: 3.5em;
  border-radius:10px;
}

.nav-item a{
  font-size: 0.8em;
  font-weight: bold;
  margin:0 1em;
  color: #aaa;
  border-bottom:1px solid transparent;
  text-decoration:none;
}

.nav-item a.active{
  color: #222;
  border-bottom:1px solid yellow;
}


.heading{
  display: flex;
  align-items: start;
  padding:0.5em;
  padding-top:2.5em;
  justify-content: space-between;
  position: absolute;
  right: 0;
  background-color: inherit;
  left: 0;
  z-index: 2;
}

img.icon {
  width:1.2em;
}

.title p{
  font-size: 0.7em;
}

.title h2{
  font-weight: bold;
  letter-spacing: -1px;
}

.location img{
  width: 1em;
  margin-right:0;
}

.search{
  background-color: #eee;
  padding: 0.4em;
  border-radius: 10px;
}


.clippedBg{
  height: 400px;
  width:100%;
  background-color: #ffbf00;
  position: absolute;
  z-index: -1;
  clip-path: circle(210px at 147px 57px);
}





/*  page 2*/
.event-details .artists{height: 7em;padding: 1em 0;}
.event-details .artist{}
.event-details .artist img{width: 4em;border-radius: 10px;height: 4em;object-fit: cover;box-shadow: 1px 1px 11px -3px #000;}
.eventTags{
  
  display: flex;
  flex-wrap: wrap;
}

.tag{margin: 0.4em;font-size: 0.7em;padding: 0.5em 1.5em;background-color: #ffbf00;color: red;border-radius: 10px;text-decoration: none;}
.tag:active, .tag:hover{
  box-shadow: 0px 5px 6px -6px #000;
}
.locationDetails{display: flex;margin: 1em 0;}
.locationDetails .location{margin-left: 1em;}
.locationDetails .location .stage{font-weight: bold;}

.locationDetails .location p{
  margin: 0;
  font-size: 0.7em;
  line-height: 1.2;
}

.imgBg{
  height: 160px;
  background-image: url('../img/Collage_5.jpg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  
}

.imgBg a{position: absolute;top: 45px;left: 10px;background-color: #eee;padding: 0.3em;border-radius: 10px;}

.tabbedContent{
  width: 100%;
  border-top-color: red;
}

.eventInfo h4{font-weight: bold;margin: 0;}
.eventInfo .date{margin-right: 1em;}
.eventInfo img{margin: 0;}
.eventInfo p{font-size: 0.7em;margin: 0;}
.eventInfo{padding: 0.7em;background-color: #fff;border-top-left-radius: 10px;border-top-right-radius: 10px;margin-top: -1em;display: flex;justify-content: space-between;box-shadow: 0px -7px 7px -4px #0000004f;}


.tab-nav{margin: 0.5em 0;}
.customBtn{
  width: 90%;
  margin: 1em auto;
  background-color: #ffbf00;
  border-color: #ffbf00;
}
.customBtn:active, .customBtn:hover,.customBtn:focus{
  background-color: ffbf00;
  color: #000;
  box-shadow:0px 10px 10px -11px #231f1f; 
}


.modalHeader{margin-top: 3em;padding: 1em;}
.modalHeader h2{color: #fff;font-size: 1em;}
.custModal::after{
  content: "";
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 50%;
  z-index: -1;
}
.custModal{
/*   visibility: hidden; */
  opacity:0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  /*! opacity: 50%; */
}

.custModal .cardWrapper{
    
  background-color: #ca9654;
  padding: 1em;
  border-radius: 10px;
  z-index: 4;
  box-shadow: 0px 7px 19px -15px #000;
  transition: box-shadow 0.3s ease;
}

.modalContent{
  background-color: darksalmon;
  /*! padding:1em; */
  width: 100%;
}

.closeIcon{
  position: absolute;
  right:1.3em;
  top:1.3em;
  background-color: #ffd3d3;
  border-radius: 100%;
}
.buy-ticket .custModal{
  display: flex;
  visibility: visible;
  opacity: 1;
}


.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.masterCard{margin-top: 2em;display: block;z-index: 0;height: 10em;transition: height 0.3s ease;width: 90%;margin: 2em auto;}
.masterCard .cardHeader{display: flex;justify-content: space-between;}
.masterCard .cardFooter{display: flex;justify-content: space-between;align-items: center;}
.masterCard .mono{margin: 0;font-family: "Consolas";color: gold;text-shadow: 0px 1px 1px #000;margin: 1em;}
.masterCard .bankLogo{width: 2em;}
.masterCard .visaLogo{width: 3em;}
.masterCard .date{margin: 0;font-size: 0.6em;color: #fff;width: ;}
.masterCard img{}
.masterCard.card-open{height: 27em;transition: height 0.3s ease;padding-right: 1em;} 
.masterCard.card-open:last-of-type{margin-bottom: 11em;}
.buy-ticket .masterCard{
  transform: translateX(0);
  transition: transform 0.4s ease-in;
}

.masterCard.card-closed{
  transform:translateX(-110%);
  transition: transform 0.5s ease;
  display: none;
}
.card-open .confirmPurchase{
  display:block;
  
  height: auto;
  opacity: 1;
}
.confirmPurchase{background-color: #eee;padding: 1em;padding-top: 1em;margin-top: 1em;border-radius: 10px;width: 100%;z-index: -2;height: 0;opacity: 0;}
.confirmPurchase p{font-size: 0.7em;}
.confirmPurchase form{}
.confirmPurchase input{
  border:none;
  box-shadow:none;
  outline: none;
}
.confirmPurchase a{
  color: inherit;
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: underline;
  font-size: 0.8em;
}
.confirmPurchase input:empty{
  
}
.confirmPurchase input:active,
.confirmPurchase input:hover,
.confirmPurchase input:focus{
 box-shadow: none;
  outline: none;
  border:1px solid #000;
}

.scrollContainer{position: relative;width: 112%;height: 100%;overflow-y: auto;padding-right: 1em;}

/* .masterCard[data-card="1"]{} */
.masterCard[data-card="1"] .cardWrapper{background-color: cadetblue;}
.masterCard[data-card="2"] .cardWrapper{}
.masterCard[data-card="3"] .cardWrapper{background-color: seagreen;}
.masterCard.card-open .cardWrapper{
  transform: rotateZ(3grad);
  transition: transform 0.3s ease, box-shadow 0.3s;
  box-shadow: 12px 13px 22px -13px #000;
}



















